Repository btcpayserver/btcpayserver, pull requests merged in 2022-02, with the labels that each got.

#3397 Pay Button Alert: Add missing alert-link classes
  BTCPayServer/Views/UIStores/PayButton.cshtml
  BTCPayServer/Views/UIStores/PayButtonEnable.cshtml
  BTCPayServer/wwwroot/main/bootstrap/bootstrap.css
Labels: Enhancement, UI / UX

#3403 Fix pay button type comparison
  BTCPayServer/wwwroot/paybutton/paybutton.js
Labels: Bug, Pay Button

#3411 Prevent initial scroll to section nav
  BTCPayServer/Views/Shared/_NavLayout.cshtml
  BTCPayServer/wwwroot/main/layout.css
Labels: Enhancement, UI / UX

#3416 Sticky headers
  BTCPayServer.Tests/ApiKeysTests.cs
  BTCPayServer.Tests/Extensions.cs
  BTCPayServer.Tests/SeleniumTests.cs
  BTCPayServer/Views/UIApps/UpdateCrowdfund.cshtml
  BTCPayServer/Views/UIApps/UpdatePointOfSale.cshtml
  BTCPayServer/Views/UIManage/_Nav.cshtml
  BTCPayServer/Views/UIServer/_Nav.cshtml
  BTCPayServer/Views/UIStores/_Nav.cshtml
  BTCPayServer/wwwroot/main/bootstrap/bootstrap.css
  BTCPayServer/wwwroot/main/layout.css
Labels: Enhancement, UI / UX

#3438 Fix subnav on store pairing view
  BTCPayServer/Views/UIStores/_Nav.cshtml
Labels: Bug, UI / UX

#3443 Fix payment request archival actions
  BTCPayServer.Tests/SeleniumTests.cs
  BTCPayServer/Controllers/UIPaymentRequestController.cs
  BTCPayServer/Views/UIPaymentRequest/EditPaymentRequest.cshtml
  BTCPayServer/Views/UIPaymentRequest/GetPaymentRequests.cshtml
Labels: Bug, Payment Request

#3435 Improve Lightning test scripts
  BTCPayServer.Tests/docker-compose.yml
  BTCPayServer.Tests/docker-customer-lncli.sh
  BTCPayServer.Tests/docker-lightning-channel-setup.sh
  BTCPayServer.Tests/docker-lightning-channel-teardown.sh
  BTCPayServer.Tests/docker-merchant-lncli.sh
Labels: Enhancement, Lightning

#3446 Upgrade Lightning lib
  BTCPayServer/BTCPayServer.csproj
Labels: Lightning, dependencies

#3454 Lightning payment info and fee handling
  BTCPayServer.Client/BTCPayServer.Client.csproj
  BTCPayServer.Client/BTCPayServerClient.Lightning.Internal.cs
  BTCPayServer.Client/Models/LightningPaymentData.cs
  BTCPayServer.Client/Models/PayLightningInvoiceRequest.cs
  BTCPayServer.Rating/BTCPayServer.Rating.csproj
  BTCPayServer/BTCPayServer.csproj
  BTCPayServer/Controllers/GreenField/GreenfieldLightningNodeApiController.cs
  BTCPayServer/Controllers/GreenField/LocalBTCPayServerClient.cs
  BTCPayServer/wwwroot/swagger/v1/swagger.template.lightning.common.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.lightning.internal.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.lightning.store.json
Labels: Lightning, API

#3441 Redesign Wallet UI
  BTCPayServer.Tests/SeleniumTester.cs
  BTCPayServer.Tests/SeleniumTests.cs
  BTCPayServer/Components/MainNav/MainNav.cs
  BTCPayServer/Components/WalletNav/Default.cshtml
  BTCPayServer/Components/WalletNav/WalletNav.cs
  BTCPayServer/Components/WalletNav/WalletNavViewModel.cs
  BTCPayServer/Controllers/UIWalletsController.cs
  BTCPayServer/Services/Labels/ColoredLabel.cs
  BTCPayServer/Services/Labels/LabelFactory.cs
  BTCPayServer/Views/UIInvoice/ListInvoices.cshtml
  BTCPayServer/Views/UIStores/WalletSettings.cshtml
  BTCPayServer/Views/UIWallets/WalletReceive.cshtml
  BTCPayServer/Views/UIWallets/WalletSend.cshtml
  BTCPayServer/Views/UIWallets/WalletTransactions.cshtml
  BTCPayServer/Views/UIWallets/_Nav.cshtml
  BTCPayServer/wwwroot/img/icon-sprite.svg
  BTCPayServer/wwwroot/js/copy-to-clipboard.js
  BTCPayServer/wwwroot/main/layout.css
  BTCPayServer/wwwroot/main/qrcode.css
  BTCPayServer/wwwroot/main/site.css
Labels: Enhancement, UI / UX, Wallet

#3469 Adds border to sidebar
  BTCPayServer/wwwroot/main/layout.css
Labels: Enhancement, UI / UX

#3496 Fix Pay Button code copying
  BTCPayServer/Views/UIStores/PayButton.cshtml
  BTCPayServer/wwwroot/js/copy-to-clipboard.js
Labels: Bug, UI / UX, Pay Button
