Repository btcpayserver/btcpayserver, pull requests merged in 2023-03, with the labels that each got.

#4749 UI: Decrease content padding top on small screens
  BTCPayServer/wwwroot/main/layout.css
Labels: Enhancement, UI / UX

#4730 Checkout v2: Option to display amount in Sats in BIP21 case
  BTCPayServer.Rating/Currencies.json
  BTCPayServer.Tests/CheckoutUITests.cs
  BTCPayServer.Tests/Checkoutv2Tests.cs
  BTCPayServer.Tests/FastTests.cs
  BTCPayServer.Tests/PayJoinTests.cs
  BTCPayServer/Controllers/UIStoresController.cs
  BTCPayServer/Models/StoreViewModels/CheckoutAppearanceViewModel.cs
  BTCPayServer/Payments/Bitcoin/BitcoinLikePaymentHandler.cs
  BTCPayServer/Payments/IPaymentMethodHandler.cs
  BTCPayServer/Payments/LNURLPay/LNURLPayPaymentHandler.cs
  BTCPayServer/Payments/Lightning/LightningLikePaymentHandler.cs
  BTCPayServer/Views/UIInvoice/Checkout-Body.cshtml
  BTCPayServer/Views/UIInvoice/Checkout.cshtml
  BTCPayServer/Views/UIInvoice/CheckoutV2.cshtml
  BTCPayServer/Views/UIStores/CheckoutAppearance.cshtml
  BTCPayServer/wwwroot/checkout-v2/checkout.js
Labels: Enhancement, UI / UX, Invoice

#4727 Checkout v2: Celebrate payment with confetti
  BTCPayServer.Tests/Checkoutv2Tests.cs
  BTCPayServer.Tests/ThirdPartyTests.cs
  BTCPayServer/Controllers/UIInvoiceController.UI.cs
  BTCPayServer/Controllers/UIStoresController.cs
  BTCPayServer/Data/StoreBlob.cs
  BTCPayServer/Models/InvoicingModels/PaymentModel.cs
  BTCPayServer/Models/StoreViewModels/CheckoutAppearanceViewModel.cs
  BTCPayServer/Views/UIInvoice/CheckoutV2.cshtml
  BTCPayServer/Views/UIStores/CheckoutAppearance.cshtml
  BTCPayServer/wwwroot/checkout-v2/checkout.css
  BTCPayServer/wwwroot/checkout-v2/checkout.js
  BTCPayServer/wwwroot/vendor/dom-confetti/dom-confetti.min.js
Labels: Enhancement, UI / UX, Invoice

#4775 Dashboard: Fix app stats tiles
  BTCPayServer/Components/AppSales/AppSales.cs
  BTCPayServer/Components/AppSales/AppSalesViewModel.cs
  BTCPayServer/Components/AppSales/Default.cshtml
  BTCPayServer/Components/AppSales/Default.cshtml.js
  BTCPayServer/Components/AppTopItems/AppTopItems.cs
  BTCPayServer/Components/AppTopItems/AppTopItemsViewModel.cs
  BTCPayServer/Components/AppTopItems/Default.cshtml
  BTCPayServer/Components/AppTopItems/Default.cshtml.js
  BTCPayServer/Controllers/UIAppsController.Dashboard.cs
  BTCPayServer/Hosting/Startup.cs
  BTCPayServer/Views/UIStores/Dashboard.cshtml
Labels: Bug, UI / UX

#4781 Derivation scheme parsing incorporates fingerprint and key path
  BTCPayServer.Tests/FastTests.cs
  BTCPayServer/DerivationSchemeSettings.cs
  BTCPayServer/Views/UIStores/ImportWallet/Scan.cshtml
Labels: Enhancement, Wallet

#4761 Language selector: Ensure correct font-size
  BTCPayServer/wwwroot/checkout-v2/checkout.css
Labels: Bug, UI / UX

#4795 Do not provide lnurl method if ln node is dead
  BTCPayServer/Payments/LNURLPay/LNURLPayPaymentHandler.cs
  BTCPayServer/Payments/Lightning/LightningLikePaymentHandler.cs
Labels: Bug, Lightning

#4783 Optimize invoice print view
  BTCPayServer/Views/Shared/Bitcoin/ViewBitcoinLikePaymentData.cshtml
  BTCPayServer/Views/Shared/Lightning/ViewLightningLikePaymentData.cshtml
  BTCPayServer/Views/Shared/_Footer.cshtml
  BTCPayServer/Views/Shared/_Layout.cshtml
  BTCPayServer/Views/UIInvoice/Invoice.cshtml
  BTCPayServer/Views/UIInvoice/ListInvoices.cshtml
  BTCPayServer/Views/UIInvoice/ListInvoicesPaymentsPartial.cshtml
  BTCPayServer/wwwroot/main/site.css
Labels: Enhancement, UI / UX, Invoice

#4799 Wallet Transactions Export: Add BIP-329 support
  BTCPayServer.Tests/SeleniumTests.cs
  BTCPayServer.Tests/UtilitiesTests.cs
  BTCPayServer/Controllers/UIWalletsController.cs
  BTCPayServer/Services/Wallets/Export/TransactionsExport.cs
  BTCPayServer/Views/UIWallets/WalletTransactions.cshtml
Labels: Enhancement, Wallet

#4778 Checkout v2: Payment processing state
  BTCPayServer.Tests/Checkoutv2Tests.cs
  BTCPayServer/Controllers/UIInvoiceController.Testing.cs
  BTCPayServer/Controllers/UIInvoiceController.UI.cs
  BTCPayServer/Models/InvoicingModels/PaymentModel.cs
  BTCPayServer/Views/UIInvoice/Checkout-Cheating.cshtml
  BTCPayServer/Views/UIInvoice/CheckoutV2.cshtml
  BTCPayServer/wwwroot/checkout-v2/checkout.css
  BTCPayServer/wwwroot/checkout-v2/checkout.js
  BTCPayServer/wwwroot/locales/checkout/en.json
Labels: Enhancement, UI / UX, Invoice

#4819 NFC improvements
  BTCPayServer/Plugins/NFC/NFCController.cs
  BTCPayServer/Views/Shared/NFC/CheckoutEnd.cshtml
  BTCPayServer/wwwroot/locales/checkout/en.json
Labels: Enhancement, UI / UX, Invoice

#4818 Pull Payments: Fix column order in list
  BTCPayServer/Views/UIStorePullPayments/PullPayments.cshtml
Labels: Bug, UI / UX

#4823 Checkout: Fix language select width in modal
  BTCPayServer/wwwroot/checkout-v2/checkout.css
  BTCPayServer/wwwroot/checkout-v2/checkout.js
Labels: Bug, UI / UX, Invoice
