Repository btcpayserver/btcpayserver, pull requests merged in 2024-11, with the labels that each got.

#6357 Reports: Fix export
  BTCPayServer/Views/UIReports/StoreReports.cshtml
  BTCPayServer/wwwroot/js/store-reports.js
Labels: Bug

#6258 Refactoring: Move AppItem to Client lib and use the class for item list
  BTCPayServer.Client/Models/AppItem.cs
  BTCPayServer.Client/Models/CrowdfundAppData.cs
  BTCPayServer.Client/Models/PointOfSaleAppData.cs
  BTCPayServer.Tests/AltcoinTests/AltcoinTests.cs
  BTCPayServer.Tests/GreenfieldAPITests.cs
  BTCPayServer.Tests/POSTests.cs
  BTCPayServer/Controllers/GreenField/GreenfieldAppsController.cs
  BTCPayServer/Controllers/UILNURLController.cs
  BTCPayServer/Hosting/MigrationStartupTask.cs
  BTCPayServer/Plugins/Crowdfund/Controllers/UICrowdfundController.cs
  BTCPayServer/Plugins/Crowdfund/Models/ViewCrowdfundViewModel.cs
  BTCPayServer/Plugins/PointOfSale/Controllers/UIPointOfSaleController.cs
  BTCPayServer/Plugins/PointOfSale/Models/ViewPointOfSaleViewModel.cs
  BTCPayServer/Services/Apps/AppService.cs
  BTCPayServer/Services/Apps/PointOfSaleSettings.cs
  BTCPayServer/Services/Invoices/PosAppData.cs
  BTCPayServer/Views/Shared/Crowdfund/Public/ContributeForm.cshtml
  BTCPayServer/Views/Shared/PointOfSale/Public/Cart.cshtml
  BTCPayServer/Views/Shared/PointOfSale/Public/Print.cshtml
  BTCPayServer/Views/Shared/PointOfSale/Public/Static.cshtml
  BTCPayServer/Views/Shared/PointOfSale/Public/VueLight.cshtml
  BTCPayServer/wwwroot/swagger/v1/swagger.template.apps.json
Labels: Enhancement, API, PoS, Crowdfund

#6217 Histograms: Add Lightning data and API endpoints
  BTCPayServer.Client/BTCPayServerClient.Lightning.Internal.cs
  BTCPayServer.Client/BTCPayServerClient.Lightning.Store.cs
  BTCPayServer.Client/BTCPayServerClient.OnChainWallet.cs
  BTCPayServer.Client/Models/HistogramData.cs
  BTCPayServer.Tests/GreenfieldAPITests.cs
  BTCPayServer/Components/AppSales/Default.cshtml.js
  BTCPayServer/Components/StoreLightningBalance/Default.cshtml
  BTCPayServer/Components/StoreLightningBalance/Default.cshtml.js
  BTCPayServer/Components/StoreLightningBalance/StoreLightningBalance.cs
  BTCPayServer/Components/StoreLightningBalance/StoreLightningBalanceViewModel.cs
  BTCPayServer/Components/StoreWalletBalance/Default.cshtml
  BTCPayServer/Components/StoreWalletBalance/StoreWalletBalance.cs
  BTCPayServer/Components/StoreWalletBalance/StoreWalletBalanceViewModel.cs
  BTCPayServer/Controllers/GreenField/GreenfieldLightningNodeApiController.Internal.cs
  BTCPayServer/Controllers/GreenField/GreenfieldLightningNodeApiController.Store.cs
  BTCPayServer/Controllers/GreenField/GreenfieldLightningNodeApiController.cs
  BTCPayServer/Controllers/GreenField/GreenfieldStoreOnChainWalletsController.cs
  BTCPayServer/Controllers/GreenField/LocalBTCPayServerClient.cs
  BTCPayServer/Controllers/UIStoresController.Dashboard.cs
  BTCPayServer/Controllers/UIStoresController.LightningLike.cs
  BTCPayServer/Controllers/UIStoresController.cs
  BTCPayServer/Controllers/UIWalletsController.cs
  BTCPayServer/Hosting/BTCPayServerServices.cs
  BTCPayServer/Services/LightningHistogramService.cs
  BTCPayServer/Services/Wallets/WalletHistogramService.cs
  BTCPayServer/Views/UIStores/Dashboard.cshtml
  BTCPayServer/wwwroot/swagger/v1/swagger.template.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.lightning.internal.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.lightning.store.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.stores-wallet.on-chain.json
Labels: Lightning, API

#6226 Greenfield: Add image upload for app items
  BTCPayServer.Client/BTCPayServerClient.Apps.cs
  BTCPayServer.Tests/GreenfieldAPITests.cs
  BTCPayServer/Controllers/GreenField/GreenfieldAppsController.cs
  BTCPayServer/Controllers/GreenField/GreenfieldStoresController.cs
  BTCPayServer/Controllers/GreenField/GreenfieldUsersController.cs
  BTCPayServer/Controllers/GreenField/LocalBTCPayServerClient.cs
  BTCPayServer/Controllers/UIManageController.cs
  BTCPayServer/Controllers/UIServerController.Users.cs
  BTCPayServer/Controllers/UIServerController.cs
  BTCPayServer/Controllers/UIStoresController.Settings.cs
  BTCPayServer/Services/Translations.Default.cs
  BTCPayServer/Storage/Services/FileService.cs
  BTCPayServer/wwwroot/swagger/v1/swagger.template.apps.json
Labels: API

#6351 UI: Improve brand color adjustment
  BTCPayServer/ColorPalette.cs
  BTCPayServer/Extensions/ColorExtensions.cs
  BTCPayServer/Views/Shared/LayoutHeadStoreBranding.cshtml
Labels: UI / UX

#6372 Store: Fix missing invitation email when adding new user
  BTCPayServer/Controllers/UIStoresController.Users.cs
  BTCPayServer/Events/UserRegisteredEvent.cs
Labels: Bug, Stores

#6362 fix: center qr code
  BTCPayServer/Views/Shared/ShowQR.cshtml
Labels: UI / UX

#6373 UI: Quote translated strings in JS
  BTCPayServer/Views/Shared/CameraScanner.cshtml
  BTCPayServer/Views/UIWallets/WalletSend.cshtml
Labels: Bug, UI / UX

#6368 UI: Fix mising navigation links for store managers
  BTCPayServer.Tests/SeleniumTester.cs
  BTCPayServer.Tests/SeleniumTests.cs
  BTCPayServer/Components/MainNav/Default.cshtml
Labels: Bug, UI / UX

#6366 UI: Allow text break in labels to avoid horizontal scrolling
  BTCPayServer/wwwroot/main/site.css
Labels: Bug, UI / UX

#6410 Swagger: Fix errors, warnings and formatting
  BTCPayServer/wwwroot/swagger/v1/swagger.template.api-keys.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.apps.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.files.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.health.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.invoices.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.lightning.common.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.lightning.internal.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.lightning.store.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.misc.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.notifications.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.payment-requests.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.payout-processors.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.pull-payments.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.stores-email.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.stores-lightning-addresses.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.stores-payment-methods.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.stores-rates-config.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.stores-rates.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.stores-users.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.stores-wallet.on-chain.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.stores-wallet.on-chain.objects.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.stores.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.users.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.webhooks.json
Labels: API

#6425 Greenfield: Users API fixes
  BTCPayServer.Tests/GreenfieldAPITests.cs
  BTCPayServer/Controllers/GreenField/GreenfieldUsersController.cs
Labels: Bug, API
