Repository btcpayserver/btcpayserver, pull requests merged in 2024-04, with the labels that each got.

#5932 Greenfield: Fix payment method update regression
  BTCPayServer/Controllers/GreenField/GreenfieldStorePaymentMethodsController.cs
  BTCPayServer/wwwroot/swagger/v1/swagger.template.json
  BTCPayServer/wwwroot/swagger/v1/swagger.template.stores-payment-methods.json
Labels: Bug, API

#5950 Pull payment QR scan fixes
  BTCPayServer/Views/UIPullPayment/ViewPullPayment.cshtml
Labels: Bug, UI / UX, Pull Payment

#5962 Checkout: Fix copying numeric values to clipboard
  BTCPayServer/Views/UIInvoice/Checkout.cshtml
  BTCPayServer/wwwroot/checkout/checkout.js
Labels: Bug, UI / UX, Checkout

#5959 Guard against running current master
  BTCPayServer.Tests/docker-compose.altcoins.yml
  BTCPayServer.Tests/docker-compose.yml
  BTCPayServer/Program.cs
  BTCPayServer/Properties/launchSettings.json
Labels: Urgent
